.progress-bg{
  height:12px;
  position: relative;
  background: #096dd9;
}

.list-content{
  .ant-card-body{
    padding:24px;
  }

  .bar{
    width:3px;
    height:12px;
    background:#000;
    position: absolute;
    cursor: pointer;
  }
}

.overflow{
  overflow: auto;
}
