 .video-root{
   display: flex;
   flex-direction: row;

   .video{
     flex-grow:2;
     width:0;

     .bar{
       width:5px;
       height:12px;
       background:#000;
       position: absolute;
       cursor: pointer;
     }
   }
   .job{
     flex-grow:1;
     width:0;
   }
 }